*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    width: 100vw;
    height: 100vh;
}

#main{
    width: 100%;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main img{
    /* width: 50%; */
    height: 50%;
}